.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em; }

.twa-lg {
  height: 1.33em;
  width: 1.33em;
  margin: 0 0.0665em 0 0.133em;
  vertical-align: -0.133em;
  background-size: 1.33em 1.33em; }

.twa-2x {
  height: 2em;
  width: 2em;
  margin: 0 0.1em 0 0.2em;
  vertical-align: -0.2em;
  background-size: 2em 2em; }

.twa-3x {
  height: 3em;
  width: 3em;
  margin: 0 0.15em 0 0.3em;
  vertical-align: -0.3em;
  background-size: 3em 3em; }

.twa-4x {
  height: 4em;
  width: 4em;
  margin: 0 0.2em 0 0.4em;
  vertical-align: -0.4em;
  background-size: 4em 4em; }

.twa-5x {
  height: 5em;
  width: 5em;
  margin: 0 0.25em 0 0.5em;
  vertical-align: -0.5em;
  background-size: 5em 5em; }

.twa-smile {
  background-image: url("https://twemoji.maxcdn.com/svg/1f604.svg"); }
.twa-rage {
  background-image: url("https://twemoji.maxcdn.com/svg/1f621.svg"); }
.twa-angry {
  background-image: url("https://twemoji.maxcdn.com/svg/1f620.svg"); }

.twa-unamused {
  background-image: url("https://twemoji.maxcdn.com/svg/1f612.svg"); }
.twa-expressionless {
  background-image: url("https://twemoji.maxcdn.com/svg/1f611.svg"); }
.twa-relaxed {
  background-image: url("https://twemoji.maxcdn.com/svg/263a.svg"); }
.twa-smiley {
  background-image: url("https://twemoji.maxcdn.com/svg/1f603.svg"); }
.twa-innocent {
  background-image: url("https://twemoji.maxcdn.com/svg/1f607.svg"); }
.twa-heart-eyes {
  background-image: url("https://twemoji.maxcdn.com/svg/1f60d.svg"); }

  .twa-baby {
  background-image: url("https://twemoji.maxcdn.com/svg/1f476.svg"); }
  