.roundprofilepic{
	border-radius: 50%;
}
.navbar{
	background-color: #ffffff;
	margin-bottom:0px;
}
.navbar a{
	color:#3e4a58;
}
.ui.label{font-weight: 400 !important}
.userresults{
	word-break: break-all;
}
.dropdown{
	margin-top:5px;
}
.flexbox{
	 display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

}
.helperrr{
	color:#b2b3b8;
	font-size:2em;
}
.helperrr:hover{
	color:#19bd9a;
}
.form-horizontal .form-group{
	margin:10px 0 !important;
}
.icon-bar{background-color: #19bd9a;}
.getWhite{background-color:#ffffff;}
 .jumbotron{border-radius: 0px !important;}
#sidebar{
	background-color: #3e4a58;
	padding-left:0px;
	flex: 1;
	padding-right:0px;
	 min-height:90vh;
	overflow: hidden !important;
	
}
#sidebar a{
	color: #89a0b0;
	padding-left:30px;
}
.currentUrl a{
	color: #19bd9a !important;
}
.navbar a:hover, #sidebar a:hover, .nav > li > a:hover, .nav > li > a:focus{
	background-color: #19bd9a !important;
	color:#ffffff !important;
	 transition:.2s;
}
.marginthing{
	margin-right:0;
}

body{
	-webkit-font-smoothing: antialiased;
	color:#383838;
	overflow-x: hidden;
}
.userIsOnline{
	background: #19bd9a;
	position:absolute;
	width: 20px;
	height: 20px;
	z-index: 3;
	border-radius: 50%;
}
.userIsOnlinechat{
	width:10px;
	height:10px;
	left:25px;
}
.userIsOnlinelist{
	width:10px;
	height:10px;
	left:10px;
}
.userIsOnlineMess{
	width:16px;
	height:16px;
	left:10px;
}
.userIsOnlineProfile{
	width:30px;
	height:30px;
}
.userIsOnlinefront{
	left:-8px;
	width:15px;
	height:15px;

}
.expandchildrennav a{
	background-color:#455161 !important;
}
.container{
	margin-left:0;
	width:100%;
}
.hasNotfications a{color:#19bd9a !important;}
.nav > li > a{
	padding:15px;
}
.noMargin{
	margin-bottom: 1px;
	margin-top: 1px;
}
.expandchildrennav a{
	padding-left:50px !important;
}
.btn-primary1, .btn-primary1:hover, .btn-primary1:active:focus{background-color:#19bd9a; border-color:#19bd9a; color:#ffffff;}
a, a:hover {color:#19bd9a;}

.circle_the_text{
    overflow: hidden;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}


.active .glyphicon {
    font-size: 1.2em;
}
.topiamgeicon{
	padding:5px;
}
.imgbarside{
	padding-left: 30px;
}



#sidebar, .container, .contentholder, .navbar-header div{
	background-clip: inherit;
	border:inherit;
}
	.smallmenu li a{
		color:#b2b3b8;
	}
	.activeurlxx {
		color:#3e4a58 !important;

	}

.smallmenudiv h1 i{
		font-size:0.9em;
}
.smallmenu li i{
	font-size:0.8em;
}
.smallmenu li{padding:0 10px;}
/* - - - - - - - - - - - - - - Span styles - - - - - - - - - - - - - - */
.smalldetail{color:#b2b3b8;}
.getitalic{font-style: italic;}

/* - - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - -  */
.activeUrl a{
	color:#b2b3b8;
}
.breadcrumb{margin-bottom:0;}


.jumbotron{background-color:#ffffff;}

.fa{font-size:1.5em;}
.platformEntry a h4 .fa{font-size:1em;}
.badge{
	background-color:#19bd9a;
}



/* - - - - - - - - - - - - - - Responsive - - - - - - - - - - - - - -  */
@media only screen and (max-width: 767px) {
	.categories{
		display:none;
	}
	.faq-items{
		padding-left:0 !important;
	}
	.navbar-brand, .col-xs-6.col-sm-3{
	display:none;
	}
	.imgfieldtop{
		display:none !important;
	}
	.imageleftbar{
		display:none !important;
	}
	#navbar{
		text-align: center;
	}
	.flexbox{
		display:block;
	}	
	#sidebar{
		width:100%;
		text-align: center;
		min-height: 0;
	}
	.contentholder{
		margin-bottom:20px;
	}
	.container{
		padding:0;
	}
	#navbar li, #sidebar li{

	}


}