   <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">{{ trans('global.partnerupwith') }} <span class="text-muted getitalic">{{ trans('global.creatorsinyourfild') }}</span></h3>
          <p>{{ trans('global.sameniche') }}</p>
        </div>
        <div class="six wide right floated column image">
          <img src="img/flyers/work-together.gif"  alt="Work togeter" class="ui large bordered rounded image">
        </div>
      </div>

            <div class="row">
        <div class="six wide left floated column image">
          <img src="img/flyers/share-links.gif" alt="Share links" class="ui large bordered rounded image">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">{{ trans('global.ncreaseisitors') }}<span class="text-muted getitalic">{{ trans('global.valuableleg') }}</span></h3>
          <p>{{ trans('global.submitlinks') }}<br><br>{{ trans('global.youpartner') }}</p>
        </div>

      </div>

            <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">{{ trans('global.Increasevisitors') }}<span class="text-muted getitalic">{{ trans('global.Checkmate') }}</span></h3>
          <p>{{ trans('global.win-win') }}<br><br>{{ trans('global.anhareyour') }}</p>
        </div>
        <div class="six wide right floated column image">
          <img src="img/flyers/increase-visitors.jpg" alt="increase visitors" class="ui large bordered rounded image">
        </div>
      </div>

    </div>